<div class="containercontact">
<form><!--to contact here makes the form for user-->

    <h3 style="align-items: center;">Contact Me</h3>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label><!--email input-->
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputName1" class="form-label mt-4">Name</label><!--name input-->
      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
    </div>
   
    <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4">Comment</label><!--comment input-->
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
  <br>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button><!--submit button will submit the information which user added-->
   </div>
</form>

</div>
