<div class="wrapper"><!--using flexes-->
  <div class="row infoContainer">
    <div class="col-md-7">
      <h3>"Introduction"</h3>

      <figure class="text-end">
        <blockquote class="blockquote"><!--used to define the text as the quotation -->
          <p class="mb-0">I've been doing Android development since 1 year and
            worked upon many personal projects and have good command on MVC
            pattern as well as in material designing for the best UI/UX. Have
            great knowledge of API integration in Android.</p>

        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="Source Title">Simranjit Kaur</cite><!--describing the text related to parent text-->
        </figcaption>
      </figure>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-4 imageContainer" style="display:flex;justify-content:  center;">
      <img class="circularImage"
        src="images/ProfileImage.jpg"
        alt="Profile Image"
      />
    </div>
  </div>
</div>