<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--Lux bootstrap theme from bootwatch.com-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <!--css file for contact page-->
    <link rel="stylesheet" href="/stylesheets/contactstyle.css" />
    <!--css file for index page-->
    <link rel="stylesheet" href="/stylesheets/indexstyle.css" />
    <!--css file for about page-->
    <link rel="stylesheet" href="/stylesheets/aboutstyle.css" />
    <!--css file for project page-->
    <link rel="stylesheet" href="/stylesheets/projectstyle.css" />
     <!--to access the social media icons-->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Navbar Bootstrap 4 code from w3schools -->
    <!-- A black horizontal navbar that becomes vertical on small screens -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="margin-top: 14px;">SimPortFolio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor01"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home
                
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a> <!--It will redirect the user on about page-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a><!--It will redirect the user on contact page-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a><!--It will redirect the user on projects page-->
            </li>
          </ul>

        </div>
      </div>
    </nav>

  </head>
  <body>
    {{{body}}}
    <footer class="footer"><p style="font-size: 14px;margin:0px;margin-left:22px">Copyright 2021 - Simranjit Kaur</p>
      <ul style="flex:1;display: flex;justify-content: flex-end">
        <a href="https://www.facebook.com/profile.php?id=100011764595892" target="_blank" class="facebook"><!--facebook profile-->
          <i class="fa fa-facebook"></i>
        </a>

        <a href="https://www.linkedin.com/in/simranjit-kaur-40775219b/" target="_blank" class="linkedin"><!--linkedin profile-->
          <i class="fa fa-linkedin"></i>
        </a>

        <a href="https://instagram.com/_sjkaur?utm_medium=copy_link" target="_blank" class="instagram"><!--instagram profile-->
          <i class="fa fa-instagram"></i>
        </a>

        <a href="https://github.com/SimranjitKaur2815" target="_blank" class="github"><!--github profile-->
          <i class="fa fa-github"></i> <!-- github icon--> 
        </a>
      </ul>
    </footer>

  </body>
</html>