<div class="row">
  <div class="col-md-6">
    <h2 class="aboutTitle">Post Graduation : </h2>

    <div style="margin-left: 12px;">
      <h5 style="margin: 0px;">Conestoga College,Waterloo</h5>
      <p style="margin: 0px;font-size: 18px;">Mobile Application Solution</p>
      <p style="margin: 0px;font-size: 10px;">2021-Present</p>
    </div>
  </div>

  <div class="col-md-6">

    <h2 class="aboutTitle">Graduation : </h2>

    <div style="margin-left: 12px;">
      <h5 style="margin: 0px;">Delhi Technical Campus, Bahadugardh.</h5>
      <p style="margin: 0px;font-size: 18px;">Bachelor of Technology</p>
      <p style="margin: 0px;font-size: 14px;">(Computer Science)</p>
      <p style="margin: 0px;font-size: 10px;">2016-2020</p>
    </div>
  </div>
  
<div class="col-md-6">
  <h2 class="aboutTitle">Senior Secondary School : </h2>

  <div style="margin-left: 12px;">
    <h5 style="margin: 0px;">Kenderiya Vidyalaya.</h5>
    <p style="margin: 0px;font-size: 18px;">Tagore garden</p>
    <p style="margin: 0px;font-size: 14px;">(Science stream)</p>
    <p style="margin: 0px;font-size: 10px;">2015</p>
  </div>
</div>

<div class="col-md-6">

  <h2 class="aboutTitle">High School : </h2>
  <div style="margin-left: 12px;">
    <h5 style="margin: 0px;">Kenderiya Vidyalaya.</h5>
    <p style="margin: 0px;font-size: 18px;">Tagore garden</p>
    <p style="margin: 0px;font-size: 10px;">2013</p>
  </div>
</div>

</div>


<div class="row aboutContainer">
  <div class="col-md-5 interests">
    <h2>Interests</h2>
    <ul>
      <li>
        <p>Dancing</p></li>
      <hr />
      <li>
        <p>Singing</p></li>
      <hr />
      <li>
        <p>Gaming</p></li>
      <hr />
      <li>
        <p>Coding</p></li>
      <hr />
    </ul>
  </div>
  <div class="col-md-5 skills">
    <h2>Skills</h2>
    <ul>
      <li>
        <p>C/C++</p></li>
        <!--hr is used to make a line-->
      <hr />
      <li>
        <p>Java</p></li>
      <hr />
      <li>
        <p>Python</p></li>
      <hr />
      <li>
        <p>Node</p></li>
      <hr />
      <li>
        <p>HTML/CSS/JS</p></li>
      <hr />
    </ul>
  </div>

</div>