<div style="margin-top: 82px;">
  <div class="row">
    <div class="col-md-4" style="display: flex; justify-content: center;"><!--to make the web page responsive-->
      <div class="projectCard"><!--card will contain all the information related to project-->
        <img src="images/salon_proj_cover.png" class="projectImage" />
        <div class="overlay">
          <p class="projectName">HairDresser's Salon</p>
        </div>
        <p class="projectDescTitle">Description : </p>

        <p class="projectDesc">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Incidunt quod architecto delectus aliquam culpa in,
          rerum soluta consequatur ipsam repellat molestias, cumque doloremque
          natus praesentium expedita, ipsum blanditiis adipisci hic.
        </p>

        <p class="projectDescTitle">Language Used : </p>
        <div class="langRow">
          <div><div class="langUsed"><img
                class="lang"
                src="images/csharp-logo.png"
              />
            </div></div>
          <div><div class="langUsed"><img
                class="lang"
                src="images/net-logo.png"
              />
            </div></div>
        </div>

      </div>

    </div>

    <div class="col-md-4" style="display: flex; justify-content: center;">
      <div class="projectCard">
        <img src="images/park_proj_cover.jpg" class="projectImage" />
        <div class="overlay">
          <p class="projectName">Go Park</p>
        </div>
        <p class="projectDescTitle">Description : </p>

        <p class="projectDesc">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Incidunt quod architecto delectus aliquam culpa in,
          rerum soluta consequatur ipsam repellat molestias, cumque doloremque
          natus praesentium expedita, ipsum blanditiis adipisci hic.
        </p>

        <p class="projectDescTitle">Language Used : </p>
        <div class="langRow">
          <div><div class="langUsed"><img
                class="lang"
                src="images/android-logo.svg"
              />
            </div></div>
          <div><div class="langUsed"><img
                class="lang"
                src="images/java-logo.png"
              />
            </div></div>
          <div><div class="langUsed"><img
                class="lang"
                src="images/xml-logo.png"
              />
            </div></div>
        </div>

      </div>

    </div>

    <div class="col-md-4" style="display: flex; justify-content: center;">
      <div class="projectCard">
        <img src="images/foodie_proj_cover.jpg" class="projectImage" />
        <div class="overlay">
          <p class="projectName">Foodie Me</p>
        </div>
        <p class="projectDescTitle">Description : </p>

        <p class="projectDesc">Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Modi hic nulla ratione, praesentium dolore in
          cupiditate tempora placeat, nobis ut, qui repudiandae quis saepe
          possimus architecto rerum eaque doloremque minima!
        </p>

        <p class="projectDescTitle">Language Used : </p>
        <div class="langRow">
          <div><div class="langUsed"><img
                class="lang"
                src="images/android-logo.svg"
              />
            </div></div>
          <div><div class="langUsed"><img
                class="lang"
                src="images/java-logo.png"
              />
            </div></div>
          <div><div class="langUsed"><img
                class="lang"
                src="images/xml-logo.png"
              />
            </div>
            </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row" style="margin-top: 42px;margin-bottom: 42px;">
  
    <div class="col-md-4" style="display: flex; justify-content: center;">
      <div class="projectCard">
        <img src="images/nepal_proj_cover.png" class="projectImage" />
        <div class="overlay">
          <p class="projectName">NpRecharge</p>
        </div>
        <p class="projectDescTitle">Description : </p>

        <p class="projectDesc">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Incidunt quod architecto delectus aliquam culpa in,
          rerum soluta consequatur ipsam repellat molestias, cumque doloremque
          natus praesentium expedita, ipsum blanditiis adipisci hic.
        </p>

        <p class="projectDescTitle">Language Used : </p>
        <div class="langRow">
          <div><div class="langUsed"><img
                class="lang"
                src="images/android-logo.svg"
              />
            </div></div>
          <div><div class="langUsed"><img
                class="lang"
                src="images/java-logo.png"
              />
            </div></div>
          <div><div class="langUsed"><img
                class="lang"
                src="images/xml-logo.png"
              />
            </div></div>
        </div>

      </div>

    </div>

    <div class="col-md-4" style="display: flex; justify-content: center;">
      <div class="projectCard">
        <img src="images/hello_proj_cover.png" class="projectImage" />
        <div class="overlay">
          <p class="projectName">Hello Fitness</p>
        </div>
        <p class="projectDescTitle">Description : </p>

        <p class="projectDesc">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Incidunt quod architecto delectus aliquam culpa in,
          rerum soluta consequatur ipsam repellat molestias, cumque doloremque
          natus praesentium expedita, ipsum blanditiis adipisci hic.
        </p>

        <p class="projectDescTitle">Language Used : </p>
        <div class="langRow">
          <div><div class="langUsed"><img
                class="lang"
                src="images/react-logo.svg"
              />
            </div></div>
        </div>

      </div>

    </div>


  </div>
</div>